
<section class="">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-sx-12 col-sm-4 col-md-4">
          <div class="doctor-thumb">
            <img src={{user.profile.image}} alt="">
          </div>
          <ul class="styled-icons icon-gray text-center mt-15 mb-15">
            <li><a href="https://www.facebook.com/Oumayma.habouri"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>

          <div class="mt-30">
            <h4>Client's Feedback</h4>
            <div class="owl-carousel-1col" data-dots="true">
              <div class="item">
                <div class="testimonial style1">
                  <div class="comment">
                    <p>I'am capable of making healthy & positive decisions today</p>
                  </div>


                </div>
              </div>

              <div class="item">
                <div class="testimonial style1">
                  <div class="comment">
                    <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 pl-20 pl-sm-15">
          <div>
            <h3 class="mt-0">{{user.profile.firstname}} {{user.profile.lastname}}  </h3>
            <h5 class="text-theme-colored">Address: {{user.profile.address}}</h5>
            <p>Telephone number :{{user.profile.telephone}}</p>
            <hr>
            <p class="">After graduating from West Virginia University Medical School, Dr. Jonathon Alex completed a two-year fellowship in sports medicine at Akron Children’s Hospital. During his training at Akron, Dr. Jonathon Alex was team physician for the University of Akron and Walsh University a two-year fellowship in sports medicine at Akron Children’s Hospital. During his training at Akron.</p>
          </div>
          <div class="mt-30">
            <h4 class="text-uppercase">Specialties & Qualifications</h4>
            <h5>Specialtiy: <span class="text-theme-colored">Endocrinology</span></h5>
            <p>Specialty of medicine; some would say a sub-specialty of internal medicine, which deals with the diagnosis and treatment of diseases related to hormones. </p>
            <h5>Specialtiy: <span class="text-theme-colored">Paediatric Medicine</span></h5>
            <p>Specialty of medicine; some would say a sub-specialty of internal medicine, which deals with the diagnosis and treatment of diseases related to hormones. </p>
            <h4 class="mt-30 text-uppercase">Education </h4>
            <ul class="list theme-colored angle-double-right m-0">
              <li class="mt-0"><strong></strong><br> University of Texas, USA (1990)</li>
              <li><strong>Medical Orientation Program</strong><br> St. Louis University (St. Louis, Missouri 1996)</li>
            </ul>
            <h4 class="mt-30 text-uppercase">Experience</h4>
            <ul class="list theme-colored angle-double-right m-0">
              <li class="mt-0"><strong>Vice President and Chief Medical Officer,</strong> Kessler Institute for Rehabilitation</li>
              <li><strong>Medical Corporation Professor,</strong> Institute Of Coast Private Hospital Campus</li>
            </ul>
            <h4 class="mt-30 text-uppercase">Certifications</h4>
            <ul class="list theme-colored angle-double-right m-0">
              <li class="mt-0"><strong>American Board of Psychiatry and Neurology</strong><br> Certified in Psychiatry</li>
              <li><strong>MA State Medical License</strong><br> Active through 2016</li>
            </ul>
            <h4 class="mt-30 text-uppercase">Publications & Presentations</h4>
            <ul class="list theme-colored angle-double-right m-0">
              <li class="mt-0"><strong>Vice President and Chief Medical Officer,</strong> Kessler Institute for Rehabilitation</li>
              <li><strong>Medical Corporation Professor,</strong> Institute Of Coast Private Hospital Campus</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


