<br>
<main class="container">
  <div class="row" id="results">
        <div class="col-md-6">
          <h4>Liste des appointments</h4>
        </div>
    <form (submit)="getapp()" class="col-md-6">
        <div class="col-md-6">
            <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Doctor name">
          <input type="submit" class="form-control" value="Rechercher">
        </div>
    </form>
      <!-- /row -->
    <!-- /container -->
  </div>
  <!-- /results -->

  <div class="row">
      <ul>
        <li>
          <div class="col-md-12">
            <input   type="radio"  id="all" name="app" value="all" [checked]="all">
            <label class="radio-inline" (click)="all = true" for="all">All</label>
            <input type="radio"  id="notRated" name="app" value="notRated" [checked]="!rated && !all">
            <label class="radio-inline" (click)="rated = false; all = false" for="notRated">No Rated</label>
            <input  type="radio"  id="rated" name="app" value="rated" [checked]="rated && !all">
            <label class="radio-inline" (click)="rated = true; all = false" for="rated">Rated</label>
          </div>
        </li>
      </ul>
    <!-- /container -->
  </div>
  <!-- /filters -->
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-12">
        <!-- /appointment -->
        <div class="row" >
          <ng-container *ngFor="let p of appWithRates">
            <div class="col-md-4" *ngIf="p.rated == rated || all">
              <div class="box_list">
                <a *ngIf="p.rate >= 3" class="glyphicon-star"></a>
                <div class="wrapper col-md-12">
                  <!--<small>{{p.doctor.speciality.speciality}}</small>-->
                  <h3>Dr. {{p.doctor.username}} </h3>

                  <p>{{p.message}}</p>
                  <span class="rating" *ngIf="(p.rate|round) == 0">
                    <small > Note rated yet </small><br>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star "></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                  </span>
                  <span class="rating" *ngIf="(p.rate|round) == 1">
                    <small > {{p.rate}}/5 </small><br>
                    <i class="pe-7s-star " style="color: orange"></i>
                    <i class="pe-7s-star "></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                  </span>
                  <span class="rating" *ngIf="(p.rate|round) == 2">
                    <small > {{p.rate}}/5 </small><br>
                    <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                  </span>
                  <span class="rating" *ngIf="(p.rate|round) == 3">
                    <small > {{p.rate}}/5 </small><br>
                    <i class="pe-7s-star " style="color: orange"></i>
                    <i class="pe-7s-star " style="color: orange"></i>
                    <i class="pe-7s-star " style="color: orange"></i>
                    <i class="pe-7s-star"></i>
                    <i class="pe-7s-star"></i>
                  </span>
                  <span class="rating" *ngIf="(p.rate|round) == 4">
                    <small > {{p.rate}}/5 </small><br>
                     <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                    <i class="pe-7s-star"></i>
                  </span>
                  <span class="rating" *ngIf="(p.rate|round) == 5">
                    <small > {{p.rate}}/5 </small><br>
                    <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                     <i class="pe-7s-star " style="color: orange"></i>
                  </span>
                </div>
                <ul style="height: 63px; text-align: center">
                  <li *ngIf="!p.rated"><a routerLink="/rating" style="margin-right: 115px;">Rate</a></li>
                  <li *ngIf="p.rated"><a style="margin-right: 115px; color: white; background-color: #e74e84">Rated</a></li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- /appointment -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>
<!-- /main -->
